html {
  font-size: 62.5%;
}

body > * {
  font-size: 1.6rem;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
}

.input-box {
  display: flex;
  width: 50%;
}

.input-box input {
  flex-grow: 1;
}

#submit {
  margin-left: 0.5rem;
}

ul {
  width: 50%;
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  padding: 0.5rem 0;
  height: 1rem;
  align-items: flex-end;
}

li button {
  display: none;
}

li:hover button {
  display: block;
}

li label {
  margin-left: 0.5rem;
  margin-right: auto;
}
